@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.welcome-slider{
    background-color: #1e232e;
    justify-content: center;
    align-items: center;
}
.welcome-slider .welcome-slider-content{
    height: 28rem;
    width: 25rem;
    background-color: #1b1f2a;
    border: .2rem solid rgba(255,255,255,.1);
    border-radius: .7rem;
    border-bottom: .4rem solid #0099ff;
    border-top: .4rem solid #0099ff;
    overflow: hidden;
}

.welcome-slider-content img{
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}


.welcome-slider-text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-slider-text-content h3{
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
}
.welcome-slider-text-content p{
    max-width: 22rem;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
    color: white;
}

.welcome-slider-content .btn{
    background-color: #0099ff;
    padding: .2rem;
    border: 2px solid #0099ff;
    outline: none;
    font-size: .8rem;
    border-radius: .5rem;
    margin: 1rem 0;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.swiper{
    width: 57rem;
}



/*------------------------ Media Query ------------------------ */

@media screen and ( width < 933px) {
    .swiper{
        width: 52.5rem;
    }

    .welcome-slider .welcome-slider-content{
        width: 23rem;
    }
}

@media screen and ( width < 862px) {
    .swiper{
        width: 45.5rem;
    }

    .welcome-slider .welcome-slider-content{
        width: 20rem;
    }
}

@media screen and ( width < 750px) {
    .swiper{
        width: 25rem;
    }
    .welcome-slider .welcome-slider-content{
        width: 25rem;
    }
}

@media screen and ( width < 423px) {
    .swiper{
        width: 21rem;
    }
    .welcome-slider .welcome-slider-content{
        width: 21rem;
    }
    .welcome-slider-text-content p{
        padding: 3px;
    }
}

@media screen and ( width < 400px) {
    .swiper{
        width: 18rem;
    }
    .welcome-slider .welcome-slider-content{
        width: 18rem;
    }
    .welcome-slider-text-content p{
        padding: 3px;
    }
}

